[submodule "pilupus-back"]
	path = pilupus-back
	url = https://github.com/pilupus/pilupus-back.git
[submodule "pilupus-front"]
	path = pilupus-front
	url = https://github.com/pilupus/pilupus-front.git
